@tailwind base;
@tailwind components;
@tailwind utilities;

.stshow td{
    padding: 20px;
    border-bottom: solid 1px #efefef;
}

.stshow th{
    padding: 20px;
    background-color:#efefef;
    border-bottom: solid 1px #fff;
}